$color: coral;
$main-width: 400px;
.test {
  background-color: $color;
  width: $main-width;
  $color2: $color;
}
.just-p {
  $color: blue;
  background-color: $color;
}
.section {
  color: red;
  &-title {
    color: green;
    &--magenta
    {color: magenta;}
  }
  &-text {
    color: teal;
  }
}
.button
{
    background-color: olivedrab;
    &:hover,
    &:focus
    {
        color:aqua;
    }
    .section:hover &
    {
        background-color: orange;
    }
}