.header {
    border-bottom: 1px solid var(--header-frame-color);
}
.header-flex-box,
.nav-contacts,
.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-contacts {
    margin-left: auto;
    /*margin-right: none;*/
}

.nav-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
}
.nav-list__item
{

}
.link, 
.nav-list__item .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--fontcolorh3);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
    display: flex;

    gap: 50px;
}
.contacts-list__item
{

}

.nav-list__item>.link,
.contacts-list__item>.link {
    display: flex;
    padding: 32px 0px;
}
.contacts-list__item .link {
    color: var(--fontcolordescrp);
}


.contacts-list__icon-link {
    width: auto;
    display: flex;
    align-items: center;
}
.contacts-list__envelope-icon
{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    transition: currentColor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__smartphone-icon
{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    transition: currentColor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__item>.link:hover,
.contacts-list__item>.link:hover,
.address-item>.address-link:hover
{
    color: var(--bluetextclr);
}

.nav-list__item>.link:active,
.contacts-list__item.link:active,
.address-item>.address-link:active
{
    color: var(--bluetextclr);
}

.nav-list__item>.link:focus,
.contacts-list__item>.link:focus .address-item>.address-link:focus
{
    color: var(--bluetextclr);
}


.o-really-current {
    position: relative;
    &.current-page-link {
            /*display: block;*/
            color: var(--bluetextclr);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--bluebtn);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}



