html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.ul,
.p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--white-bg);
    font-family: var(--mainfont);
    font-size: 14px;
    color: var(--fontblack);
    /*--fontcolordescrp*/
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.no-marker-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}